
.skillsContainer {
    width: 100%;
    height: 35vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start
}

.skillsContainer > h1 {
    color: var(--blue);

    font-size: 2.5rem;
    font-weight: 600;

    margin-bottom: 3rem;
}

.skillsContainer > div {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;
}

.skillsContainer > div img{
    width: 115px;
    height: 115px;
}

@media( max-width: 500px ) {

    .skillsContainer {
        width: 100%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 3rem;
    }

    .skillsContainer > div { 
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;   
    }

    .skillsContainer > div img {
        margin: 2rem;
    }
}